{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"experimentalOperatorPosition": "end",
	"experimentalTernaries": true,
	"objectWrap": "collapse",
	"printWidth": 80,
	"quoteProps": "consistent",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true
}
